<header>
    <div class="navbar">
        <div class="nav-title nav-navs">
            <a class="nav-links home-title" href={{ config.base_url }}>{{ config.title
                }}</a>
        </div>

        {%- if config.extra.menu %}
        <nav class="nav-title nav-navs">
            {% for menu in config.extra.menu %}
            <a class="nav-links" href={{ menu.url }}>
                {%- if menu.icon %}
                <img alt={{ menu.name }} height="15" width="15" src="/menu_icon/{{ menu.icon }}" />
                {% endif %}
                {{ menu.name }}</a>
            {% endfor %}
        </nav>
        {% endif %}

        <nav class="socials nav-navs">
            {%- if config.extra.search_bar %}
                <div class="search-container">
                    <input id="search" type="search" placeholder="🔎   Search">
                    <div class="search-results">
                        <div class="search-results__items"></div>
                    </div>
                </div>
            {% endif %}
            <label class="theme-switcher" for="themeswitch">
                <input type="checkbox" id="themeswitch">
                <img alt="switch to light mode" class="switch-off" src="/lightswitch/switch-off-transparent.png">
                <img alt="switch to dark mode" class="switch-on" src="/lightswitch/switch-on-transparent.png">
            </label>
        </nav>
        
    </div>
</header>