.theme-switcher{
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
    width: 40px;
    height: 40px;
    
    input{
        display: none;
    }
    
    img{
        width: 40px;
        height: 40px;
        transition: opacity 0.3s ease-in-out;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
    }
    
    .switch-off{
        opacity: 1;
    }
    
    .switch-on{
        opacity: 0;
    }
    
    input:checked ~ .switch-off{
        opacity: 0;
    }
    
    input:checked ~ .switch-on{
        opacity: 1;
    }
}


.logo {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 10px;
    top: 10px;
    flex-direction: row;
    z-index: 1000;
    
    a {
        display: block;
        height: 30px;
        width: auto;
        cursor: pointer;
        margin-right: 10px;
        img {
            height: 100%;
            width: auto;
        }
    }
  }