{% extends "base.html" %}

{% block main_content %}
{% if section.extra.section_path -%}
{% set section = get_section(path=section.extra.section_path) %}
{% endif -%}

{%- if section.extra.desc %}
    {{ post_macros::page_desc(desc=section.extra.desc) }}
{% endif -%}

{{ post_macros::page_header(title="Recent Posts") }}

<main class="list">
    {% set posts = get_section(path="posts/_index.md") %}
    {{ post_macros::list_posts(pages=posts.pages | slice(end=3)) }}
</main>

<p style="margin-top: 1rem;"><a href="/posts">View all posts →</a></p>
{% endblock main_content %}
